[submodule "vusec/memsentry"]
	path = vusec/memsentry
	url = https://github.com/vusec/memsentry.git
[submodule "hedayati/hodor"]
	path = hedayati/hodor
	url = https://github.com/hedayati/hodor.git
[submodule "vahldiek/erim"]
	path = vahldiek/erim
	url = https://gitlab.mpi-sws.org/vahldiek/erim.git
[submodule "IAIK/Donky"]
	path = IAIK/Donky
	url = https://github.com/IAIK/Donky.git
[submodule "VolSec/pku-pitfalls"]
	path = VolSec/pku-pitfalls
	url = https://github.com/VolSec/pku-pitfalls.git
[submodule "IAIK/Jenny"]
	path = IAIK/Jenny
	url = https://github.com/IAIK/Jenny.git
[submodule "sslab-gatech/libmpk"]
	path = sslab-gatech/libmpk
	url = https://github.com/sslab-gatech/libmpk.git
[submodule "iskios"]
	path = URSec/iskios
	url = https://github.com/URSec/iskios.git
[submodule "libhermitMPK"]
	path = ssrg-vt/libhermitMPK
	url = https://github.com/ssrg-vt/libhermitMPK.git
[submodule "The-Cerberus-Project"]
	path = ku-leuven-msec/The-Cerberus-Project
	url = https://github.com/ku-leuven-msec/The-Cerberus-Project.git
[submodule "enclosures"]
	path = aghosn/enclosures
	url = https://github.com/aghosn/enclosures.git
[submodule "PKRU-Safe"]
	path = securesystemslab/PKRU-Safe
	url = https://github.com/securesystemslab/PKRU-Safe.git
[submodule "galeed"]
	path = mit-ll/galeed
	url = https://github.com/mit-ll/galeed.git
[submodule "faastlane"]
	path = csl-iisc/faastlane
	url = https://github.com/csl-iisc/faastlane.git
[submodule "CubicleOS"]
	path = lsds/CubicleOS
	url = https://github.com/lsds/CubicleOS.git
[submodule "xom-switch"]
	path = intel/xom-switch
	url = https://github.com/intel/xom-switch.git
[submodule "Dissertation-Public"]
	path = ChristopherHammond13/Dissertation-Public
	url = git@github.com:ChristopherHammond13/Dissertation-Public.git
[submodule "BUseclab/mpkalloc"]
	path = BUseclab/mpkalloc
	url = https://github.com/BUseclab/mpkalloc.git
[submodule "MOAT-Open"]
	path = jwnhy/MOAT-Open
	url = https://github.com/jwnhy/MOAT-Open.git
[submodule "ssrg-vt/sMVX"]
	path = ssrg-vt/sMVX
	url = https://github.com/ssrg-vt/sMVX.git
[submodule "ssrg-vt/MonGuard"]
        path = ssrg-vt/MonGuard
	url = git@github.com:ssrg-vt/MonGuard.git
[submodule "secure-rewind-and-discard"]
	path = EricssonResearch/secure-rewind-and-discard
	url = https://github.com/EricssonResearch/secure-rewind-and-discard.git
[submodule "sdradrustffi"]
	path = EricssonResearch/sdradrustffi
	url = https://github.com/EricssonResearch/sdradrustffi.git
[submodule "lightning"]
	path = danyangz/lightning
	url = https://github.com/danyangz/lightning.git
[submodule "vip"]
	path = cosmoss-jigu/vip
	url = git@github.com:cosmoss-jigu/vip.git
[submodule "TENET"]
	path = cosmoss-jigu/TENET
	url = https://github.com/cosmoss-jigu/TENET.git
[submodule "NoDrop"]
	path = PKU-ASAL/NoDrop
	url = ./NoDrop
[submodule "fastlane"]
	path = fastlane/fastlane
	url = https://github.com/fastlane/fastlane.git
[submodule "IAIK/sgxjail"]
	path = IAIK/sgxjail
	url = git@github.com:IAIK/sgxjail.git
[submodule "PKU-ASAL/PKUWA"]
	path = PKU-ASAL/PKUWA
	url = git@github.com:PKU-ASAL/PKUWA.git
[submodule "seccompgeek/trust23-metsafe24"]
	path = seccompgeek/trust23-metsafe24
	url = git@github.com:seccompgeek/trust23-metsafe24.git
[submodule "CharlyCst/mpk"]
	path = CharlyCst/mpk
	url = git@github.com:CharlyCst/mpk.git
