[submodule "vusec/memsentry"]
	path = vusec/memsentry
	url = https://github.com/vusec/memsentry.git
[submodule "hedayati/hodor"]
	path = hedayati/hodor
	url = https://github.com/hedayati/hodor.git
[submodule "vahldiek/erim"]
	path = vahldiek/erim
	url = https://gitlab.mpi-sws.org/vahldiek/erim.git
[submodule "IAIK/Donky"]
	path = IAIK/Donky
	url = https://github.com/IAIK/Donky.git
[submodule "VolSec/pku-pitfalls"]
	path = VolSec/pku-pitfalls
	url = https://github.com/VolSec/pku-pitfalls.git
[submodule "IAIK/Jenny"]
	path = IAIK/Jenny
	url = https://github.com/IAIK/Jenny.git
[submodule "sslab-gatech/libmpk"]
	path = sslab-gatech/libmpk
	url = https://github.com/sslab-gatech/libmpk.git
[submodule "ssrg-vt/MonGuard"]
	path = ssrg-vt/MonGuard
	url = https://github.com/ssrg-vt/MonGuard.git
[submodule "iskios"]
	path = iskios
	url = https://github.com/URSec/iskios.git
[submodule "libhermitMPK"]
	path = libhermitMPK
	url = https://github.com/ssrg-vt/libhermitMPK.git
[submodule "The-Cerberus-Project"]
	path = The-Cerberus-Project
	url = https://github.com/ku-leuven-msec/The-Cerberus-Project.git
[submodule "enclosures"]
	path = enclosures
	url = https://github.com/aghosn/enclosures.git
[submodule "PKRU-Safe"]
	path = PKRU-Safe
	url = https://github.com/securesystemslab/PKRU-Safe.git
[submodule "galeed"]
	path = galeed
	url = https://github.com/mit-ll/galeed.git
[submodule "faastlane"]
	path = faastlane
	url = https://github.com/csl-iisc/faastlane.git
[submodule "CubicleOS"]
	path = CubicleOS
	url = https://github.com/lsds/CubicleOS.git
[submodule "xom-switch"]
	path = xom-switch
	url = https://github.com/intel/xom-switch.git
[submodule "mpkalloc"]
	path = mpkalloc
	url = https://github.com/BUseclab/mpkalloc.git
[submodule "awesome-mpk"]
	path = awesome-mpk
	url = git@github.com:mbs0221/awesome-mpk.git
[submodule "Dissertation-Public"]
	path = Dissertation-Public
	url = git@github.com:ChristopherHammond13/Dissertation-Public.git
[submodule "BUseclab/mpkalloc"]
	path = BUseclab/mpkalloc
	url = https://github.com/BUseclab/mpkalloc.git
[submodule "MonGuard"]
	path = MonGuard
	url = https://github.com/ssrg-vt/MonGuard.git
