[submodule "vusec/memsentry"]
	path = intra-process-isolation/memsentry
	url = https://github.com/vusec/memsentry.git
[submodule "hedayati/hodor"]
	path = intra-process-isolation/hodor
	url = https://github.com/hedayati/hodor.git
[submodule "vahldiek/erim"]
	path = intra-process-isolation/erim
	url = https://gitlab.mpi-sws.org/vahldiek/erim.git
[submodule "IAIK/Donky"]
	path = intra-process-isolation/Donky
	url = https://github.com/IAIK/Donky.git
[submodule "VolSec/pku-pitfalls"]
	path = intra-process-isolation/pku-pitfalls
	url = https://github.com/VolSec/pku-pitfalls.git
[submodule "IAIK/Jenny"]
	path = intra-process-isolation/Jenny
	url = https://github.com/IAIK/Jenny.git
[submodule "sslab-gatech/libmpk"]
	path = intra-process-isolation/libmpk
	url = https://github.com/sslab-gatech/libmpk.git
[submodule "iskios"]
	path = intra-unikernel-isolation/iskios
	url = https://github.com/URSec/iskios.git
[submodule "libhermitMPK"]
	path = intra-process-isolation/libhermitMPK
	url = https://github.com/ssrg-vt/libhermitMPK.git
[submodule "The-Cerberus-Project"]
	path = intra-process-isolation/The-Cerberus-Project
	url = https://github.com/ku-leuven-msec/The-Cerberus-Project.git
[submodule "enclosures"]
	path = intra-process-isolation/enclosures
	url = https://github.com/aghosn/enclosures.git
[submodule "PKRU-Safe"]
	path = rust-ffi/PKRU-Safe
	url = https://github.com/securesystemslab/PKRU-Safe.git
[submodule "galeed"]
	path = rust-ffi/galeed
	url = https://github.com/mit-ll/galeed.git
[submodule "faastlane"]
	path = intra-process-isolation/faastlane
	url = https://github.com/csl-iisc/faastlane.git
[submodule "CubicleOS"]
	path = intra-unikernel-isolation/CubicleOS
	url = https://github.com/lsds/CubicleOS.git
[submodule "xom-switch"]
	path = intra-process-isolation/xom-switch
	url = https://github.com/intel/xom-switch.git
[submodule "Dissertation-Public"]
	path = intra-process-isolation/Dissertation-Public
	url = git@github.com:ChristopherHammond13/Dissertation-Public.git
[submodule "BUseclab/mpkalloc"]
	path = intra-process-isolation/mpkalloc
	url = https://github.com/BUseclab/mpkalloc.git
[submodule "MOAT-Open"]
	path = intra-kernel-isolation/MOAT-Open
	url = https://github.com/jwnhy/MOAT-Open.git
[submodule "ssrg-vt/sMVX"]
	path = intra-process-isolation/sMVX
	url = https://github.com/ssrg-vt/sMVX.git
[submodule "ssrg-vt/MonGuard"]
	path = intra-process-isolation/MonGuard
	url = git@github.com:ssrg-vt/MonGuard.git
[submodule "secure-rewind-and-discard"]
	path = intra-process-isolation/secure-rewind-and-discard
	url = https://github.com/EricssonResearch/secure-rewind-and-discard.git
[submodule "sdradrustffi"]
	path = rust-ffi/sdradrustffi
	url = https://github.com/EricssonResearch/sdradrustffi.git
[submodule "lightning"]
	path = intra-process-isolation/lightning
	url = https://github.com/danyangz/lightning.git
[submodule "vip"]
	path = intra-process-isolation/vip
	url = git@github.com:cosmoss-jigu/vip.git
[submodule "TENET"]
	path = intra-process-isolation/TENET
	url = https://github.com/cosmoss-jigu/TENET.git
[submodule "NoDrop"]
	path = intra-process-isolation/NoDrop
	url = ./NoDrop
[submodule "fastlane"]
	path = intra-process-isolation/fastlane
	url = https://github.com/fastlane/fastlane.git
[submodule "IAIK/sgxjail"]
	path = intra-enclave-isolation/sgxjail
	url = git@github.com:IAIK/sgxjail.git
[submodule "PKU-ASAL/PKUWA"]
	path = intra-process-isolation/PKUWA
	url = git@github.com:PKU-ASAL/PKUWA.git
[submodule "seccompgeek/trust23-metsafe24"]
	path = rust-ffi/trust23-metsafe24
	url = git@github.com:seccompgeek/trust23-metsafe24.git
[submodule "CharlyCst/mpk"]
	path = intra-process-isolation/mpk
	url = git@github.com:CharlyCst/mpk.git
[submodule "Smart-Contract-Protection-Method"]
	path = intra-process-isolation/Smart-Contract-Protection-Method
	url = git@github.com:MrCookieeeee/Smart-Contract-Protection-Method.git
[submodule "MPK_research"]
	path = intra-process-isolation/MPK_research
	url = git@github.com:CharlyCst/MPK_research.git
[submodule "CoMpk"]
	path = intra-process-isolation/CoMpk
	url = git@github.com:arulthileeban/CoMpk.git
[submodule "Toast"]
	path = intra-process-isolation/Toast
	url = https://github.com/TUM-DSE/Toast
[submodule "ReCFA"]
	path = intra-process-isolation/ReCFA
	url = https://github.com/suncongxd/ReCFA.git
[submodule "nodrop"]
	path = intra-process-isolation/nodrop
	url = https://github.com/nodropforsecurity/nodrop.git
[submodule "asplos22-ae"]
	path = intra-unikernel-isolation/asplos22-ae
	url = https://github.com/project-flexos/asplos22-ae.git
[submodule "BULKHEAD"]
	path = intra-kernel-isolation/BULKHEAD
	url = https://github.com/gyg128/BULKHEAD.git
[submodule "intra-kernel-isolation/HAKC"]
	path = intra-kernel-isolation/HAKC
	url = https://github.com/mit-ll/HAKC.git
[submodule "intra-process-isolation/ConfLLVM"]
	path = intra-process-isolation/ConfLLVM
	url = https://github.com/TrustedCloud/ConfLLVM.git
[submodule "intra-process-isolation/endokernel-paper-ver"]
	path = intra-process-isolation/endokernel-paper-ver
	url = https://github.com/endokernel/endokernel-paper-ver.git
[submodule "intra-unikernel-isolation/Unishyper"]
	path = intra-unikernel-isolation/Unishyper
	url = https://github.com/hky1999/Unishyper.git
